<div class="col-md-4 offset-4 card mt-5">
    <div class="card-body">
        <form action="" #f="ngForm"
         (ngSubmit)="submit(f)">
            <h1 class="display-3">Login</h1>
            <div class="form-group">
                <label for="username">username</label>
                <input 
                ngModel
                #username="ngModel" (change)="angularway(username)"
                type="text" name="username" id="username" minlength="3" 
                 required class="form-control" placeholder="username">
            </div>
            <div *ngIf="username.invalid && username.touched" class="text-danger alert alert-danger m-2">
              <p *ngIf="username.errors.required">username is required</p>
              <p *ngIf="username.errors.minlength">username should be min 3 character</p>
              <!-- <p *ngIf="username.errors.pattern">username is not match</p> -->

            </div>
            <div class="form-group">
                    <label for="password">password</label>
                    <input 
                    ngModel
                    #password="ngModel" (change)="angularway(password)" required
                    type="password" name="password" class="form-control"id="password" placeholder="enter password">
                </div>
                <div *ngIf="password.invalid && password.touched" class="text-danger alert alert-danger m-2">
                  <p *ngIf="password.errors.required">password is required</p>
                </div>
                <div class="form-group">
                <button type="submit"class="btn btn-success btn-block"[disabled]="!f.valid">
                  submit</button>
            </div>
        </form>
    </div>
</div> 

 <!-- <table class="table table-bordered">
                    <thead > 
                        <tr>
                          <th>index</th>
                          <th >Name</th>
                          <th>age</th>
                          <th>sal</th>
                          <th>remove</th>
                        </tr>
                    </thead>
                       <tr *ngFor="let e of user;index as k"      [ngStyle]="{'color':'red','padding':'10px','background-color':e.age===23 ? 'white':'yellow',border:'2px solid #111'}">
                    
                           <td><span class="badge badge-success">{{k+1}}</span></td>
                           <td>{{e.name}}</td>
                           <td>{{e.age}}</td>
                           <td>{{e.sal}}</td>
                           <td><button class="btn btn-danger" (click)="removeEmp(e)">remove</button></td>
                       </tr>
                  </table>
                  <button class="btn btn-success btn-block " (click)="addemp()">submit</button>
                   -->
<!-- angular 2 way -->
                  <!-- <div *ngIf="user.length>0">
                    employees are here 
                  </div>
                  <div *ngIf="user.length==0">
                     no employees are here 
                    </div> -->
                   
                  
                     <!-- angular 4 way  using else -->
                   <!-- <div *ngIf="user.length>0;then emp else noemp"></div>
                   <ng-template #emp>
                     <h1 style="color: green;">emp are here</h1>
                   </ng-template>  
                  
                  
                   <ng-template #noemp>
                      <h1 style="color: red;"> no emp are here</h1>
                    </ng-template>  -->
                  
                    <!-- switch case -->
                    <!-- <span [ngSwitch]="color">
                      <p *ngSwitchCase="'red'">
                        red color
                      </p>
                      <p *ngSwitchCase="'green'">
                          green color
                        </p>
                        <p *ngSwitchCase="'black'">
                            black color
                          </p>
                          <p *ngSwitchDefault>
                            no color here
                          </p>
                   </span> -->
                  
                  <!-- 
                   <div *ngIf="user.length>0">
                     user are here
                   </div>
                   <div *ngIf="user.length==0">
                     user are not here
                   </div> -->

