  <app-header></app-header>
   <div class="container">
      <!-- <app-register></app-register>
      <app-emplogin></app-emplogin> -->
    <router-outlet></router-outlet> 
    <!-- directive to glue between module and root component -->
  <!-- <app-login></app-login> -->
<!-- <app-country></app-country> 
   </div> -->
<!-- <app-users></app-users> -->
<!-- 
<app-home></app-home> -->
<!-- 
<app-register1></app-register1> -->

 <!-- <div appCustom>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum unde similique velit amet eveniet earum iure dignissimos molestias quos numquam accusantium quas ex sapiente incidunt autem, qui cumque sequi debitis.Consequuntur eius unde maxime qui omnis nostrum, architecto aut. Libero ad maiores inventore totam quibusdam quidem dolorem. Tempore fuga adipisci maiores, voluptates earum provident deleniti laboriosam, eveniet, nobis expedita fugit?
</div>   -->