<nav class= "navbar navbar-expand-lg navbar-light bg-success">
    <a class="navbar-brand" href="#">jspiders</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" 
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active"> 
          <a routerLink="./html" class="nav-link">HTML</a>
        </li>
        <li class="nav-item active"> 
          <a routerLink="./javascript" class="nav-link">javascript</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"> 
          <a routerLink="./login" class="nav-link">login</a>
        </li>
        <li class="nav-item active"> 
            <a routerLink="./register" class="nav-link">register</a>
          </li>
          <li class="nav-item active"> 
            <a routerLink="./email" class="nav-link">email</a>
          </li>

      </ul>
    
    </div>
  </nav>